<!DOCTYPE html>
<HTML>
    <head>
    	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
    </head>
    <body>
        <center>
        <img src="/static/Logo.png" alt="Auto Logo" height=150px width=467px>
        <p>Please upload a txt file</p>
        <form enctype="multipart/form-data" action="/" method="POST">
            <input id="file" type="file" name="file"/><br>
            <input type="submit" value="Submit">
        </form>
        </center>
    </body>
</HTML>
